*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
deps/deps.jl
Manifest.toml

src/old/*
data/*
func/*
results/*
run_acopf.jl
runallcases.sbatch
run_sdprelaxation.jl
sbatch_out
cc_aprox/*
old/*
read_all.jl
run_deg2.jl
run_deg4.jl
run_deg4_20s.jl
run_deg4_medium1.jl
run_deg4_medium2.jl
run_deg4_small.jl
runnestamedium1.sbatch
runnestamedium2.sbatch
runnestasmall.sbatch
runnestatwenties.sbatch
runsdprelaxation.sbatch
